






@media screen and (min-width: 300px){
  body {
    background-color: green;
   
  }
    .small{
    box-sizing: border-box;
    width: 66%;
  }
  .medium{
    box-sizing: border-box;
    width: 33%;
  }
  .large{
    box-sizing: border-box;
    width: 100%;
  }
  
 
}

@media screen and (max-width: 300px) {
  body {
    background-color: red;
    font-size: 12px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
}
@media screen and (min-width: 768px) {
  body {
    background-color: lightblue;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
      }
      .medium{
        display: none;
      }
}