






@media screen and (min-width: 300px){
  body {
    background-color: green;

  }
  
 
}

@media screen and (max-width: 300px) {
  body {
    background-color: red;
    font-size: 12px;
  }
  
}
@media screen and (min-width: 768px) {
  body {
    background-color: lightblue;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
      }
      .medium{
        display: none;
      }
}